<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BugManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <!-- Azure Storage: jordyjdb -->
        <add key="jordyjdb_AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=jordyjdb;AccountKey=ISS5NoULiufRidz/CglL+ciOC6PnX08K6p0P3sgq6N77smS9tJvjIzM8qfz87YnKQBVo4EuPKZ1g4HO90rZFXg==;EndpointSuffix=core.windows.net" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <BugManagement.Properties.Settings>
            <setting name="Developer" serializeAs="String">
                <value>True</value>
            </setting>
        </BugManagement.Properties.Settings>
    </userSettings>
</configuration>